*{
    font-family: calibri;
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root{
    --main-color:#5b85b6;
    --secondary-color: black;
    --text-color: #1b1b1b;
    --bg-color: #fff;

    --box-shadow: 2px 2px 10px 14px rgb(14 55 54 / 15%)
  
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url(/public/about_background.jpg);
}

.form_container {
    /* margin-top: 400px; */
    /* margin-left: 50px;
    margin-right: 50px; */
    width: 50%;
    margin: 130px auto;
    padding: 20px;
    padding-top: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
    color: #333;
}

.form_group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="tel"],
input[type="file"],
textarea {
    width: calc(100% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

.button {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #3671b3;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.button:hover {
    background-color: #218838;
}

.checkboxContainer {
    display: flex;
    align-items: center; /* This vertically centers the label with the checkbox */
    margin-bottom: 5%;
    font-size: 20px;
    color: #333;
}


.form_check_input {
    margin-right: 10px; /* Optional: Adds some space between the checkbox and the label */
}

.radioGroup {
    display: flex;
    align-items: center; /* Vertically centers the content within each radio button group */
    width: 100%;
    margin-top: 20px;
    margin-bottom: 1%;
}

.form_group, .form_group_tick {
    display: flex;
    align-items: left; /* Vertically centers the label with the radio button */
     /* Adds space between each radio button group */
    flex: 1;
    
}

.form_group {
    flex-direction: column;
    text-align: left;
    color: #333;
    font-size: 18px;
}

.form_group_tick{
    font-size: 20px;
    color: #333;
    margin-bottom: 2.5%;
}

label{
    display: block;
    text-align: left;
}

.form_check_label {
    font-family: Arial;
}